
// Fonts
@import url(https://fonts.cat.net/css?family=Raleway:300,400,600)

// Variables
@import "variables"

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"

.mu-dialog
  .mu-text-field
    margin-left: 22px

.challenge-card
  .challenge-item
    width: 220px
    height: 160px
    .mu-float-button
      float: right
      top: -20px
      right: 20px
      .mu-icon
        padding: 10px
  .passed
    background: rgba(32, 178, 170, 0.3)

#tabs
  margin-bottom: 20px

#challenges
  >[class $= '-wrapper']
    display: flex
    margin: 0 auto
    width: 70%
    flex-wrap: wrap
    .challenge-card
      margin: 0 40px 40px 0



.popup-success
  background: rgba(153, 26, 40, .8)
.demo-popup-top
  display: flex
  width: 100%
  height: 48px
  line-height: 48px
  justify-content: center
  align-items: center
  max-width: 375px
  background: rgba(18, 150, 115, .8)